body{

   /* color: wheat;*/
    box-sizing: border-box;


    /* fallback */


    background-color: #454860;

   /* background-position: center center;
    background-repeat: no-repeat;


    *//* Safari 4-5, Chrome 1-9 *//*
    *//* Can't specify a percentage size? Laaaaaame. *//*
    background: -webkit-gradient(radial, center center, 30%, center center, 460, from(#1a82f7), to(#2F2727));

    *//* Safari 5.1+, Chrome 10+ *//*
    background: -webkit-radial-gradient(circle, #1a82f7, #2F2727);

    *//* Firefox 3.6+ *//*
    background: -moz-radial-gradient(circle, #1a82f7, #2F2727);

    *//* IE 10 *//*
    background: -ms-radial-gradient(circle, #1a82f7, #2F2727);
*/
}

a{
    color: #eeeeee;
    text-decoration: none;
    font-size: 1.2em;
    width: 149px;
    margin-left: 7px;
    text-shadow: 1px 0 black,
                 0 1px black;

}
a:hover{
    color: white;

}
ul{
    float: left;
}
 li.active{
     position: relative;
     width: 149px;
     border-right: none;
     background-color: rgba(255,255,255, 0.3);
     border-radius: 5px 0 0 5px;
     z-index: 111;
}
 li:hover{
     background-color: gray;
 }

li{
    list-style-type: none;
    margin: 1px 0;
    background-color: darkgrey;
    border: 1px solid black;
    border-radius: 5px 0 0 5px;
    height: 40px;
    line-height: 40px;
 }

#main{
    background: url(monitor2.png);
    background-size: cover;
    width: 900px;
    height: 700px;
    margin: 0 auto;
    margin-top: 50px;
    z-index: 11;
}
#name{
    position: absolute;
    margin: 43px 67px;
    color: white;
    font-family: "Courier New";
    font-size: 3em;
   border-bottom: 1px solid deepskyblue;
    width: 800px;
}
#container{
    position: absolute;
    margin: 105px 50px;
}
#links{
    float: left;
}


#info{
    border: 1px solid red;
    float: right;
    width: 300px;
}


#form{
    float: right;
    position: absolute;
    margin-left: 190px;
    width: 628px;
    height: 390px;
    overflow: auto;
    padding: 1px 5px 4px 1px;
    background-color: rgba(255,255,255, 0.3) ;
    border: 1px solid #000000;
    border-radius: 5px;
   /* z-index: 1;*/
    border-left: none;
}
section{
    position: absolute;
    width: 800px;
    height: 600px;
    margin: 0 auto;
}

footer{

    position: absolute;
    top: 650px;
    /*bottom: 0;*/
    left: 0;
    right: 0;
    height: 130px;
    min-height: 130px;
    background-image: url("_table.jpg");
    z-index: -1;



}

.f_left{
    float: left;
    width: 0px;
    border-top: 130px solid #454860;
    border-right: 190px solid transparent;



}
.f_right{
    float: right;
    width: 0px;
    border-top-width: 130px;
    border-top-style: solid;
    border-top-color: #454860;

    border-left: 190px solid transparent;



}

.f_center{
    width: 700px;
    min-width: 500px;


    margin: 0 auto;
}
